.inicio{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-left: 260px;
    width: calc(100% - 260px);
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.inicio__body{
    display: flex;
    justify-content: center;
}

.inicio__footer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 996px) {
    .inicio{
        width: 100%;
        margin-left: unset;
    }
}


@media screen and (max-width: 800px) {
    .inicio__body{
        flex-direction: column;
        align-items: center
    }
   
 }